<%= render 'layouts/header' %>
<h1>About the Site</h1>
<p>ND Confessions began as a Facebook page created by Jack Hawley, and was then made into a website several weeks later by Jared Hanstra.  Over 15,000 confessions have been submitted.</p>