<%= render 'layouts/header' %>
<div class="content_container_creators">
	<h2 class="centered">Who's Behind ND Confessions??</h1>
	<br>
	<div class="creator_box">
		<%= image_tag("salute.jpg", :alt => "Jack Hawley", class:"creator_pics") %>
		<h2 class="centered">Jack Hawley</h3>
		<p class="text creator_text">Original creator, designer, and administrator of the ND Confessions Facebook page.  Junior Finance and Economics major in Dillon Hall.<br>Contact: <a href="mailto:jhawley@nd.edu">jhawley@nd.edu</a><br>Twitter: <a href="https://twitter.com/jackhawley">@jackhawley</a></p>

	</div>

	<div class="creator_box">
		<%= image_tag("jarededit.jpg", :alt => "Jared Hanstra", class:"creator_pics") %>
		<h2 class="centered">Jared Hanstra</h3>
		<p class="text creator_text">Creator/developer/designer of ndconfessions.com. Senior Math major with an interest in web development and design.  Working at Epic in Madison, WI next fall.<br>Contact: <a href="mailto:jhanstra@nd.edu">jhanstra@nd.edu</a><br>Twitter: <a href="https://twitter.com/jhanstra">@jhanstra</a></p>
	</div>
	
</div>
<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
