<%= render 'layouts/header' %>
<div class="content_container_creators">
	<h2 class="centered">A Note from UCC</h1>
	<br>
	<p class="text">
	
		The <a href="http://ucc.nd.edu/">University Counseling Center</a> and <a href="http://studentgovernment.nd.edu/">Student Government</a> have asked ND Confessions to share this information regarding resources available for those going through difficult situations.  To all those posting confessions about stress, depression, and other serious matters, there are places you can go and there are always people who care.
	</p>
	<br>
	<div class="help_note"
	<p class="text">Professional, confidential, individual counseling services are available to students at the University Counseling Center.  Appointments can be arranged either in person or by telephone.  Provisions are made for anyone requesting to see a counselor at once.  UCC daytime hours are 9 AM – 5 PM Monday through Friday on the third floor of Saint Liam Hall.  An afterhours urgent telephone consultation service is available 24/7 to students or others concerned about a student.  
	<br>
	<br>
	UCC staff members provide free, confidential 15-20 minute consultations (Let’s Talk) on Wednesdays, 3-4 PM in Room 258, Fitzpatrick Hall (Engineering); on Thursdays, 3-4 PM in the Blue Room 312, LaFortune Student Center; and on Wednesdays , 3-4 PM at the MSPS office in Room 210B in LaFortune Student Center. 
	<br>
	<br>
	&nbsp&nbsp&nbsp&nbsp-University Counseling Center
	</p>
	</div>
	
	
</div>
<br>