<%= render 'layouts/header' %>
<div class="content_container_creators">
	<h2 class="centered">Work With Us</h1>
	<br>
	<p class="text centered">ND Confessions is looking for experienced Ruby on Rails web developers to help us develop the site and expand.  If you're interested, please contact <a href="mailto:hellondconfessions@gmail.com"> hellondconfessions@gmail.com.</p>
	<br>
	
	
</div>
