<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<%= render 'layouts/sidebar' %>
		<div class="contentz span11 offset2">
			<h2>#301</h2>
			<p>  I sometimes want to post Taylor Swift-related fb statuses, like "I'm feeling happy, free, confused, and lonely at the same time" without being judged. Being a male TSwift fan is tough. </p>
			&nbsp&nbsp&nbsp
			<button class="btn btn-small" type="button"> <i class="icon-upload icon-2x"></i>&nbsp&nbsp Upvote &nbsp</button>
			<button class="btn btn-small" type="button"><i class="icon-circle-arrow-down icon-2x"></i>&nbsp&nbsp Downvote &nbsp</button>
			&nbsp
			<%= link_to "Mark as Troll", '#', id: "troll" %>
			 <br />
			<h2>#300</h2>
			<p>	 Last night, I came out to my roommate. She cried, hugged me, and accepted me. Tonight, more than ever, I truly love thee Notre Dame. </p>
			<br />
			<h2>#299</h2>
			<p>The SDH romance posts are a better love story than Twilight.</p><br />
			<h2>#298</h2>
			<p>  Since ND Confessions started, I've come to realize more people here deal with depression and self-esteem issues than I realized. It's made me feel a little better about myself, though I still doubt there's anyone out there for me.</p><br />
			<h2>#297</h2>
			<p>  One afternoon I had to take a dump. I was like "You know what, I have a book. Might as well take a nice, long, relaxing dump while I read." I pick the handicapped stall out of all of the open stalls because it's so spacious and clean. So I've been sitting there for a couple minutes and I hear someone come in the restroom, but they don't do anything. They don't take a piss or wash their hands or get in the other stall. So I'm like "This is weird. That'd be so awkward if it was a guy in the wheelchair... like that ever happens haha." So I just chill out and read my book for another 10 minutes. I eventually leave the stall and he's still there, waiting. In a wheelchair.</p><br />
			<h2>#296</h2>
			<p>   I've pissed in at least six cups under the table at South Dining hall while I was drunk this year. I've marked them all with a black dot underneath to know never to drink out of them again. </p><br />
			<h2>#295</h2>
			<p>  I went to Feve with a few friends, decided to ignore the coat check, left my coat on a chair, and, at the end of the night, I could not for the life of me find my coat. So I looked for the nicest, most-expensive-looking coat there and wore it out. I since found out that my friend thought I left so he had my coat the whole time. I also found out whose coat I stole but all accounts peg him as a complete douche so I've yet to return it. I never will. And I wear it every few days. Right in front of him.</p><br />
		</div>
	<div>
</div>