@import "bootstrap";


html {
	overflow-y: scroll;
}
section {
	overflow: hidden;
}
body {
background-image:url('light_toast.png');
}
.container {
	
	height:5500px;
	width:100%;
	position:relative;
	top:-10px;
	z-index:3;
}
.top {
	margin:0px;
	padding:0px;
	height:230px;
	width:100%;
	position:relative;
	top:-10px;
	background-image:url('usher.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-overflow:hidden;
	box-shadow: 0px 5px 10px #333;
	z-index:5;
}
.submit_button {
	position:relative;
	left:12%;
	top:10px;
}
.sidebarz {
	float:left;
	
}
.contentz {

	float:left;
}
.top_links {
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:20px;
	color:#ccc;
	&:hover {
		color:#ffb700;
		text-decoration:none;
	}
}
.sidebar_container {
	margin-top:30px;
}
.sidebar_list {
	text-align:center;
}

/* forms */


.form_container {
	position:relative;
	width:35%;
	margin: auto;
	top:150px;
	background:#000;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius:5px;
	padding:10px 0px 10px 23px;

}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 90%;
  margin: 0 auto 15px;
  padding: 10px;
}

input {
  height: auto !important;
}
label {
	color:#ccc;
	font-size:1.1em;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* typography */

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}
h1 {
	position:relative;
	padding-left:7%;
	top:55px;
	font-size:5em;
	color:#ccc;
	text-shadow: 0px 5px 10px #000;
}
header h2 {
	padding-left:39%;
	position:relative;
	top:42px;
	font-size:3em;
	color:#ddd;
	text-shadow: 0px 2px 5px #000;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight:normal;

}
.contentz p {
	font-size:1.2em;
	color:#666;
	font-family: 'Headland One';
	line-height:160%;
	padding-right:10%
}
.contentz h2 {
	padding-top:20px;
	font-size:2.5em;
	color:#999;
	font-family: 'Nixie One';
}
#troll {
	font-size:.9em;
}
.user_header {
	text-align:center;
	font-size:2em;
	color:#333;
	text-shadow:none;
	margin-top:0;
	padding-top:0;

}
#sidebar_header {
	text-align:center;
	font-size:1.5em;
	color:#333;
}






/* miscellaneous */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}






















