@import "bootstrap";




html {
	overflow-y: scroll;
}
section {
	overflow: hidden;
}
body {
	background-image:url('light_toast.png');
}
.container {
	width:100%;
	position:relative;
	top:-10px;
	z-index:3;
}
.top {
	margin:0px;
	padding:0px;
	height:230px;
	width:100%;
	position:relative;
	top:-10px;
	background-image:url('usher.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-overflow:hidden;
	box-shadow: 0px 5px 40px #333;
	z-index:5;
}
.submit_button {
	position:relative;
	left:12%;
	top:10px;
}

.top_links {
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:20px;
	color:#ccc;
	&:hover {
		color:#ffb700;
		text-decoration:none;
	}
}
.sidebar_container {
	margin-top:30px;
}
.sidebar_list {
	text-align:left;
	margin-left:10%;
}
.content_container {
	width:55%;
	margin: 30px 24% 0px;
}

/* forms */


.form_container {
	position:relative;
	width:35%;
	margin: auto;
	top:150px;
	background:#000;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius:5px;
	padding:15px 0px 10px 25px;

}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 90%;
  margin: 0 auto 15px;
  padding: 10px;
}

input {
  height: auto !important;
}
label {
	color:#ccc;
	font-size:1.1em;
}
.signup_form p {
	color:#ccc;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
.header_container {
	display:inline;
	width:10%;
	height:40px;
	float:left;
}
.stats_container {
	display:inline;
	width:50%;
	height:40px;
	float:right;
	padding-top:5px;
}





/* typography */

@font-face {
    font-family: headland;
    src: url("/assets/headland.ttf") format("truetype"); /* For IE */
 	src: local("headland"), url("/assets/headland.ttf") format("truetype");
}
@font-face {
    font-family: nixie-one;
    src: url("/assets/nixie-one.ttf") format("truetype"); /* For IE */
 	src: local("nixie-one"), url("/assets/nixie-one.ttf") format("truetype");
}
@font-face {
    font-family: syncopate;
    src: url("/assets/syncopate.ttf") format("truetype"); /* For IE */
 	src: local("syncopate"), url("/assets/syncopate.ttf") format("truetype");
}
@font-face {
    font-family: vast-shadow;
    src: url("/assets/vast-shadow.ttf") format("truetype"); /* For IE */
 	src: local("vast-shadow"), url("/assets/vast-shadow.ttf") format("truetype");
}










h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}
h1 {
	position:relative;
	padding-left:7%;
	top:55px;
	font-size:5em;
	color:#ccc;
	text-shadow: 0px 5px 10px #000;

}
header h2 {
	padding-left:35%;
	position:relative;
	top:42px;
	font-size:3em;
	color:#ddd;
	text-shadow: 0px 2px 5px #000;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight:normal;
}
.text {
	font-size:1.2em;
	color:#666;
	font-family: headland;
	line-height:160%;
}
.content_container h2 {
	margin:10px 0 0 0;
	font-size:2.5em;
	color:#333;
	font-family: nixie-one;
}
.header2 {
	margin:10px 0 0 0;
	font-size:2.5em;
	color:#333;
	font-family: 'Syncopate';
}
#troll {
	font-size:.9em;
}
.user_header {
	text-align:center;
	font-size:2em;
	color:#333;
	text-shadow:none;
	margin-top:0;
	padding-top:0;

}
#sidebar_header {
	text-align:left;
	font-size:1.5em;
	color:#333;
	margin-left:20%;
}
.content_container h4 {
	font-size:.85em;
	color:#888;
	margin:5px 0 0 20px;
	padding:0;
	font-family:headland;
}


.votes {
	font-size:2.2em;
	color:#666;
	display:inline;
	float:right;
	margin-top:10px;
	margin-right:20px;
	font-family: nixie-one;
}

.icons {
	display:inline;
	opacity:0.2;
	float:right;
	margin-top:6px;

}
.icons:hover {
	opacity:0.4;
}
.icon_clicked {
	opacity:0.4;
}
.confession_span {
	float:right;
}
.number_link {
	text-decoration:none;
	color:#333;
}
.number_link:hover {
	color:#999;
	text-decoration:none;
}





/* miscellaneous */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
.paginate {
	margin:auto;
}





















