#welcome_body {
	background:black;
	overflow:auto;

}
.welcome_page {
	background-image:url('usher.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-overflow:hidden;
	height:710px;

}


/* typography */

.main_title {
	text-align:center;
	position: relative;
	top:100px;
	margin:0 0 0 2%;
	padding:0px;
	color:#ccc;
}
.main_subtitle {
	text-align:center;
	position:relative;
	margin:0px;
	padding-right:0%;
	color:#bbb;
	top: 110px;
	font-weight:normal;
	font-size:1.7em;
	letter-spacing:-1px;
	text-shadow: 0px 0px 5px #000;

}
.sign_up_subtitle {
	top:0px;
}